<h2 class="a-map ms-3 my-2"><%= link_to "Map", "http://maps.google.com/maps?q=" %></h2>
<div style="width: 100%; height: 300px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
