<!-- Button trigger modal -->
<button type="button" class="btn btn-gradient" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Search By Filter
</button>
<br>
<br>
<div id="filter-wrapper" class="open">
  <div class="container">
      <h2>Price Range</h2>
      <div class="d-flex justify-content-between">
        <span class="badge rounded-pill bg-secondary">$</span>
        <span class="badge rounded-pill bg-secondary">$$</span>
        <span class="badge rounded-pill bg-secondary">$$$</span>
        <span class="badge rounded-pill bg-secondary">$$$$</span>
      </div>
        <br>
        <br>
        <br>
      <h2>Cuisine</h2>
      <div class="d-flex justify-content-between">
        <span class="badge rounded-pill bg-secondary">French</span>
        <span class="badge rounded-pill bg-secondary">Korean</span>
        <span class="badge rounded-pill bg-secondary">Malay</span>
        <span class="badge rounded-pill bg-secondary">Italian</span>
        <span class="badge rounded-pill bg-secondary">Japanese</span>
        <span class="badge rounded-pill bg-secondary">Indian</span>
        <span class="badge rounded-pill bg-secondary">Chinese</span>
      </div>
      <br>
      <br>
      <br>
      <h2>Location</h2>
      <div class="d-flex justify-content-between">
        <span class="badge rounded-pill bg-secondary">North</span>
        <span class="badge rounded-pill bg-secondary">South</span>
        <span class="badge rounded-pill bg-secondary">East</span>
        <span class="badge rounded-pill bg-secondary">West</span>
        <span class="badge rounded-pill bg-secondary">Central</span>
      </div>
      <br>
      <br>
      <br>

      <div>
        <button type="button" class="btn btn-gradient" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Filter
        </button>
      </div>
  </div>
</div>
