<div class="row">
  <h2><strong>Wheelchair Friendly</strong></h2>
  <div class="rating col-9 mx-auto">
    <i class="fa-solid fa-wheelchair-move fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>

<div class="row">
  <h2><strong>Staff Friendly</strong></h2>
  <div class="rating col-9 mx-auto">
    <i class="fa-solid fa-clipboard-user fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>

<div class="row">
  <h2><strong>Ambience</strong></h2>
  <div class="rating col-9 mx-auto">
    <i class="fa-solid fa-mug-saucer fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>

<div class="row">
  <h2><strong>Bathroom</strong></h2>
  <div class="rating col-9 mx-auto">
    <i class="fa-solid fa-toilet fa-2xl"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="1"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="2"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="3"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="4"></i>
    <i class="rating_stars fa-regular fa-star fa-2xl" data-rating="5"></i>
  </div>
</div>
